@charset "utf-8";
/* CSS Document */
body {
    color: white;
    background-color: royalblue;    
	text-align:center;
}

h1 {
	font-size:55px;
}

.loadingDeck {
    position:relative;
	width:calc(100% - 2px);
	background-color:#1e2f60;
    /*#3498db*/
	border:none;
	color:#FFF;
    font-size:50px;
    padding:25px;
    background-image: url('images/deckIcon.png');
    background-repeat: no-repeat;
    background-position: 85% 50%;
    padding-right: 30%;
    height:230px;
    background-size: 20%;
}

.settings{
    position:relative;
	width:calc(100% - 2px);
	background-color:#1e2f60;
    /*#3498db*/
	border:none;
	color:#FFF;
    font-size:50px;
    padding:25px;
    background-image: url('images/checklist2.png');
    background-repeat: no-repeat;
    background-position: 85% 50%;
    padding-right: 30%;    
    height:230px;
    background-size: 20%;
}

.patient{
    position:relative;
	width:calc(100% - 2px);
	background-color:#1e2f60;
    /*#3498db*/
	border:none;
	color:#FFF;
    font-size:50px;
    padding:25px;
    background-image: url('images/checklist.png');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    padding-right: 30%;
    height:230px;
    background-size: 20%;
}

