body {
    color: white;
    background-color: royalblue;
}


h1, h2, h3, h4, h5, h6 {
     text-align: center;
}

h2{
    font-size:20px;
}

h1{
	margin:40px auto;
	padding:0;
	font-size:30px;
	text-align:center;
	}

/*
 * Styling the container for the login form.
 */

.login {
	width:350px;
	padding:25px;
	margin:50px auto;
	/*background-color:#2c3e50;*/
	}

/*
 * General Input Style
 */
		
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"]  {
	width: calc(100% - 33px);
	margin:10px 0 10px 0;
	padding:15px;
	border: solid 1px #ccc;
	font-size:20px;
	background-color:#ecf0f1;
	}	

/*
 * Styling the Buttons
 */
		
input[type="submit"],
input[type="button"] {
	position:relative;
	width:calc(100% - 2px);
	background-color:#1e2f60;
    /*#3498db*/
	border:none;
	color:#FFF;	
}
	
input[type="submit"] {
	float:right;
	}	

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    h2{
        font-size:40px;
    }

    h1{
        font-size:60px;
    }
    .login {
	width:590px;
	padding:25px;
	margin:50px auto;
	}

    input[type="text"],
    input[type="password"],
    input[type="submit"],
    input[type="button"] {
        font-size:30px;
    }
    label{
        font-size:30px;
    }
}

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    h2{
        font-size:20px;
    }

    h1{
        font-size:30px;
    }
    .login {
	width:290px;
	padding:25px;
	margin:50px auto;
	}    
}

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

}